.subscribe {
  height: 4rem;
  width: 260px;
  border-radius: 2rem;
  border: 0;
  background: var(--yellow-500);
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s;
}
.subscribe:hover {
  filter: brightness(0.8);
}
/*# sourceMappingURL=styles.module.css.map */