.subscribe {
    height: 4rem;
    width: 260px;
    border-radius: 2rem;
    border: 0;
    background: var(--yellow-500);
    font-size: 1.25rem;
    font-weight: bold;

    display:flex ;
    align-items: center;
    justify-content: center;

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }

}