.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background: var(--gray-850);
  border: 0;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  transition: filter 0.2s;
}
.signInButton svg {
  width: 20px;
  height: 20px;
}
.signInButton svg:first-child {
  margin-right: 1rem;
}
.signInButton svg.closeIcon {
  margin-left: 1rem;
}
.signInButton:hover {
  filter: brightness(0.8);
}
/*# sourceMappingURL=styles.module.css.map */