.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-900);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}
.headerContent nav {
  margin-left: 5rem;
  height: 5rem;
}
.headerContent nav a {
  display: inline-block;
  position: relative;
  padding: 0 0.5rem;
  height: 5rem;
  line-height: 5rem;
  color: var(--gray-500);
  transition: color 0.2s;
}
.headerContent nav a:hover {
  color: var(--gray-300);
}
.headerContent button {
  margin-left: auto;
}
/*# sourceMappingURL=styles.module.css.map */